/* Configuration and reset */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 400;
}

:root {
    --primary-red: #D04F4F;
    --grey: #E7E7E7;
    --reddish-grey: #C7BEBE;
}

/* Header */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.title_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_section h1 {
    font-family: 'DM Sans', sans-serif;
    color: var(--primary-red);
    font-size: 36px;
    font-weight: 700;
}

/* Searchbar */

.search_section {
    width: 100%;
    position: relative;
    margin-top: 2em;
}

.search_section input {
    border: none;
    background-color: var(--grey);
    padding: 1em;
    height: 69px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    outline: none;
}

.search_section img {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

/* Filter section */

.filter_menus {
    display: flex;
    gap: 2em;
    margin-top: 2em;
    align-items: flex-start;
}

#ingredients-filter,
#devices-filter,
#ustensils-filter {
    border-radius: 5px;
    padding: 1em;

}

#ingredients-filter {
    background-color: #3282F7;
}

#devices-filter {
    background-color: #68D9A4;
}

#ustensils-filter {
    background-color: #ED6454;
}

.input_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;

}

.input_container p {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.input_container input {
    display: none;
}

#ingredients-arrow-down,
#devices-arrow-down,
#ustensils-arrow-down {
    cursor: pointer;
}

#ingredients-arrow-up,
#devices-arrow-up,
#ustensils-arrow-up {
    display: none;
    cursor: pointer;
}


.ingredients_filter_list,
.devices_filter_list,
.ustensils_filter_list {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1em;
    display: none;
    padding-top: 2em;
}

.ingredients_filter_list p,
.devices_filter_list p,
.ustensils_filter_list p {
    cursor: pointer;
    color: #FFF;
    font-family: 'Lato';
    font-size: 18px
}

/* Recipes section */

.recipes_section {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 33px;
    margin-top: 2em;
}

.image_placeholder {
    width: 380px;
    height: 178px;
    background-color: var(--reddish-grey);
}

article {
    border-radius: 5px;
    background-color: var(--grey);
    padding: 1em;
}

.article_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article_head h2 {
    font-size: 18px;
}

.time_container {
    display: flex;
    gap: 0.5em;
}

.time_container p {
    font-size: 18px;
    font-weight: 700;
}

.article_body {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 1em;
    align-items: center;
}


.article_description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-size: 12px;
}

.ingredient_container {
    display: flex;
    gap: 5px;
    font-size: 12px;
    width: 171px;
}

.ingredient_container span {
    font-weight: 700;
}